---
import Layout from '../../../layouts/Layout.astro';
import Breadcrumbs from '../../../components/Breadcrumbs.astro';
import EntityCard from '../../../components/EntityCard.astro';
import { getCollection } from 'astro:content';

const entries = (await getCollection('factions')).sort((a, b) =>
  a.data.title.localeCompare(b.data.title),
);
---
<Layout title="Factions">
  <Breadcrumbs crumbs={[
    { label: 'Home', href: '/' },
    { label: 'Encyclopedia', href: '/encyclopedia/' },
    { label: 'Factions' },
  ]} />
  <h1>Factions</h1>
  <p>Organizations the crew is aware of.</p>
  <ul class="entity-list">
    {entries.map((e) => (
      <EntityCard
        href={`/encyclopedia/factions/${e.id}/`}
        title={e.data.title}
        aliases={e.data.aliases}
        summary={e.data.summary}
        portrait={e.data.portrait}
      />
    ))}
  </ul>
</Layout>
